@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}

.wrap {
}
header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

header + .container {
  margin-top: -1px;
}



.container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
.page-tit {
  font-size: 20px;
  margin-top: 20px;
}
.menu-bar {
  width: 100%;
  background: #4575cb;
}
.menu-bar ul {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}
.menu-bar li {
  list-style: none;
}
.menu-bar li a {
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
}
.contents {
  width: 980px;
  margin: 0 auto;
}

footer {
  background: #eee;
  padding: 30px 0;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 980px;
  font-size: 12px;
  margin: 0 auto;
}
.footer-inner .logo {
  font-size: 14px;
  font-weight: bold;
}
.footer-inner .team ul {
  display: flex;
}
.footer-inner .team ul li {
  list-style: none;
}
.footer-inner .team ul li + li {
  margin-right: 5px;
}






/* main > 사용자 정보 */
.user-info {
  font-size: 14px;
}
.user-info > div {
  display: flex;
  align-items: center;
}
/* login 전 */
.user-info .before-login a {
  display: inline-block;
}
.user-info .before-login a:first-child {
  margin-right: 10px;
}
/* .user-info .before-login a:first-child:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  margin-left: 10px;
} */
/* login 후 */
.user-info .after-login {
}
.user-info .after-login .user {
  display: flex;
  align-items: center;
}
.user-info .after-login .user .img-user {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 5px;
}
.user-info .after-login p span {
  font-weight: bold;
}
.user-info .after-login a {
  margin: 0 10px;
}
.user-info .after-login .btn-logout {
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
}



/* main > 검색 */
.search {
  width: 440px;
  display: flex;
  align-items: center;
  margin: 30px auto;
}
.search input {
  width: 400px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  padding: 0 10px;
}
.search input::placeholder {
  font-size: 16px;
}
.search button {
  position: relative;
  width: 50px;
  height: 45px;
  border: 1px solid #4575cb;
  border-radius: 0 5px 5px 0;
  background: #4575cb;
  padding: 0;
}
.search button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  background: url(../images/icon_search2.png) 0 0 no-repeat;
  transform: translate(-50%, -50%);
  background-size: 28px;
}

/* main > 지도 선택 */
.select-map {
  position: relative;
}
.select-map .img-map {
  width: 900px;
  margin: 50px auto 0;
}
.select-map .location-list {

}
.select-map .location-list li {
  position: absolute;
  top: 70px;
  left: 185px;
  width: 85px;
  height: 65px;
  list-style: none;
  text-indent: -999em;
  border: 1px solid red;
}
.select-map .location-list li:nth-child(2) {
  top: 370px;
  left: 10px;
  width: 50px;
  height: 40px;
}
.select-map .location-list li:nth-child(3) {
  top: 250px;
  left: 95px;
  width: 50px;
  height: 40px;
}
.select-map .location-list li:nth-child(4) {
  top: 370px;
  left: 106px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(5) {
  top: 310px;
  left: 155px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(6) {
  top: 260px;
  left: 259px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(7) {
  top: 220px;
  left: 420px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(8) {
  top: 170px;
  left: 560px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(9) {
  top: 150px;
  left: 680px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(10) { /* 우도 */
  top: 110px;
  left: 840px;
  width: 45px;
  height: 80px;
}
.select-map .location-list li:nth-child(11) { /* 성산읍 */
  top: 255px;
  left: 754px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(12) { /* 표선면 */
  top: 310px;
  left: 660px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(13) { /* 남원읍 */
  top: 360px;
  left: 550px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(14) { /* 서귀포시 */
  top: 400px;
  left: 440px;
  width: 61px;
  height: 30px;
}
.select-map .location-list li:nth-child(15) { /* 중문 */
  top: 410px;
  left: 340px;
  width: 40px;
  height: 30px;
}
.select-map .location-list li:nth-child(16) { /* 안덕면 */
  top: 415px;
  left: 210px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(17) { /* 대정읍 */
  top: 445px;
  left: 120px;
  width: 45px;
  height: 30px;
}
.select-map .location-list li:nth-child(18) { /* 가파도 */
  top: 555px;
  left: 125px;
  width: 65px;
  height: 40px;
}
.select-map .location-list li:nth-child(19) { /* 마라도 */
  top: 605px;
  left: 125px;
  width: 65px;
  height: 40px;
}
.select-map .location-list li a {
  display: block;
  width: 100%;
  height: 100%;
}


/* main > 여행지 thumbnail list */
.thumb-list {
  margin-top: 50px;
}
.thumb-list h3 {
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.thumb-list h3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background: #4575cb;
  border-radius: 50%;
  transform: translateY(-50%);
}
.thumb-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.thumb-list ul li {
  list-style: none;
  width: calc(100% / 5 - 10px);
  margin-bottom: 20px;
}
.thumb-list ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.thumb-list ul li .img-thumb {
  position: relative;
  width: 100%;
  height: 120px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}
.thumb-list ul li .img-thumb img {
  width: 100%;
  height: 100%;
}
.thumb-list ul li strong {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  letter-spacing: -1px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
  margin: 5px 0;
}
.thumb-list ul li p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  letter-spacing: -1px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 여행지 */
.thumb-list.spot {
  display: block;
}
.thumb-list.spot ul {
  display: block;
  overflow: hidden;
}
.thumb-list.spot ul li {
  float: left;
  width: 186px;
  margin-right: 10px;
}
.thumb-list.spot ul li:first-child{
  width: 585px;
  margin-right: 10px;
}
.thumb-list.spot ul li:first-child .img-thumb {
  height: 345px;
}
.thumb-list.spot ul li:nth-of-type(3),
.thumb-list.spot ul li:nth-of-type(5) {
  margin-right: 0;
}
.thumb-list .btn-more {
  display: block;
  color: #fff;
  font-size: 16px;
  background: #4575cb;
  border: none;
  border-radius: 5px;
  margin: 20px auto 100px;
  padding: 5px 15px;

}



table {
  width: 100%;
  border-collapse: collapse;
}
